<link rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(cssUrl)'>
<div class="demo">
<form action="#">
  <fieldset>
    <label id="theme_label" for="themes">Select a theme:</label>
    <select name="themes" id="themes">
        <option *ngFor="let theme of themes" [value]="theme.id" [selected]="selectedTheme.id == theme.id">{{theme.name}}</option>
    </select>
  </fieldset>
</form>

</div>


<app-accordion></app-accordion>
<app-dialog></app-dialog>

<app-color-animation></app-color-animation>
<app-date-picker></app-date-picker>
<app-color-slider></app-color-slider>
<router-outlet></router-outlet>
